*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron';

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#0a0043, #240034)
}

.verh{
    color: #00b2a4;
    font-family: 'Orbitron';
    position: relative;
    bottom: 1200px;
    box-sizing: border-box;
    font-size: 200px;
    -webkit-text-stroke: 5px #000000;
}

.img{
    position:absolute;
    transform: scale(100%);
}

.cube{
    position: absolute;
    width: 600px;
    height: 60px;
    transform: scale(150%)
}

.cubic{
    position: absolute;
    width: 600px;
    height: 1500px;
    transform:scale(90%);
}

.cube div{
    position: absolute;
    top: 0;
    left 0;
    width: 100%;
    height: 100%;
    animation: anim1 30s linear infinite;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(25deg);
}
.cubic div{
    position: absolute;
    top: 0;
    left 0;
    width: 100%;
    height: 100%;
    animation: anim2 30s linear infinite;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(25deg);
}

@keyframes anim1 {
    0%{
        transform: rotateX(-20deg) rotateY(360deg);
    }

    100%{
        transform: rotateX(-20deg) rotateY(0deg);
    }

}

@keyframes anim2 {
    0%{
        transform: rotateX(-20deg) rotateY(0deg);
    }

    100%{
        transform: rotateX(-20deg) rotateY(360deg);
    }

}

.cube .big span{
    position: absolute;
    width: 600px;
    height: 600px;
    background: var(--clr);
    transform-style: preserve-3d;
    transform: rotateY(calc(90deg * var(--i))) translateZ(300px);
    transition: .5s;
}

.cubic .small span{
    position: absolute;
    width: 600px;
    height: 600px;
    background: var(--clr);
    transform-style: preserve-3d;
    transform: rotateY(calc(90deg * var(--i))) translateZ(300px);
    transition: .5s;
}
.cube .big span{
    background: transparent;
    border: 20px solid #9200c7;
    box-shadow: 0px 0px 50px #ffffff;
}

.cubic .small span{
    background: transparent;
    border: 20px solid #020ecb;
    box-shadow: 0px 0px 50px #ffffff;
}

div.cube div.big span.top{
    transform: rotateX(90deg)
    translateZ(300px);
}

div.cubic div.small span.top{
    transform: rotateX(90deg)
    translateZ(300px);
}

.cube .big .bottom{
    transform: rotateX(90deg)
    translateZ(-300px);
}

div.cubic div.small span.bottom{
    transform: rotateX(90deg)
    translateZ(-300px);
}

.cube .big .top::before{
    content: "";
    position: absolute;
    inset: 0;
    transform: translateZ(-650px);
    background: rgba(0, 0, 0, 0.62);
    filter: blur(100px);
}

.cubic .small .top::before{
    content: "";
    position: absolute;
    inset: 0;
    transform: translateZ(-650px);
    background: rgba(0, 0, 0, 0.62);
    filter: blur(100px);
}
.MyName{
    color: #110090;
    position: relative;
    left: 20%;
    top: 46%;
    box-sizing: border-box;
    font-size: 72px;
    -webkit-text-stroke: 2px #000000;
}

.Name2{
    color: #a900c7;
    position: relative;
    left: 20%;
    top: 46%;
    box-sizing: border-box;
    font-size: 72px;
    -webkit-text-stroke: 2px #000000;
}
